body {
    background: papayawhip;
    opacity: 50%;

}
.logo {
    max-width: 25%;
}

.logo img {
    max-width: 100%;
}

.red {
    background: red;
}

.blue {
    background: blue;
}